In [1]:
from pathlib import Path
from validphys.loader import _get_nnpdf_profile
from validphys.api import API
import numpy as np
import pandas as pd
from validphys.convolution import central_predictions

profile = _get_nnpdf_profile()
yaml_db = Path(profile["data_path"]) / "yamldb"

The `yaml_db` folder is a temporary thing as it contains files that look like:

```yaml
conversion_factor: 1.0
operands:
- - NMC_NC_EM_D_F2
- - NMC_NC_EM_P_F2
operation: RATIO
target_dataset: NMCPD
```

This information will eventually be part of the new commondata format of course.

The `operation` is applied to the first level of the list while the second level is just concatenated. This is necessary since `pineappl` fktables might contain one layer of concatenation which is already done for the "classic" fktables.

The `pineappl` fktables will live inside the appropiate `theory_xxx` folder `/pineappls`.

In [2]:
# Test them all
if True:
    from yaml import safe_load
    pdf = API.pdf(pdf="NNPDF40_nnlo_as_01180")
    all_res = []
    nnpdf40_runcard = safe_load(Path("/home/juacrumar/NNPDF-testing/nnpdf/n3fit/NNPDF40_with_pineappl.yml").read_text())
    #nnpdf40_runcard = safe_load(Path("/mount/storage/Academic_Workspace/NNPDF/source/nnpdf/n3fit/NNPDF40_with_pineappl.yml").read_text())
    for d in nnpdf40_runcard["dataset_inputs"]:
        target_ds = d["dataset"]
        cfac = d.get("cfac", [])
        old_ds = API.dataset(dataset_input={"dataset": target_ds, "cfac": cfac + ["oldmode"]}, theoryid=200, use_cuts="internal")
        ds = API.dataset(dataset_input={"dataset": target_ds, "cfac": cfac}, theoryid=200, use_cuts="internal")
        new_cp = central_predictions(ds, pdf)
        cp = central_predictions(old_ds, pdf)
        all_res.append(pd.concat([new_cp, cp, new_cp/cp], axis=1, keys=["vp", "pine", f"ratio {target_ds}, {cfac}"]))
        
    for i in all_res:
        mean_ratio = i[i.columns[2]].mean()
        if not (0.9 < mean_ratio < 1.1):
            print(i)

-- Reading COMMONDATA for Dataset: NMCPD_dw_ite
nData: 260 nSys: 105
-- COMMONDATA Files for NMCPD_dw_ite successfully read.

LHAPDF 6.4.0 loading /usr/share/lhapdf/LHAPDF/NNPDF40_nnlo_as_01180/NNPDF40_nnlo_as_01180_0000.dat
NNPDF40_nnlo_as_01180 PDF set, member #0, version 1

-- Reading COMMONDATA for Dataset: NMC
nData: 292 nSys: 16
-- COMMONDATA Files for NMC successfully read.


-- Reading COMMONDATA for Dataset: SLACP_dwsh
nData: 211 nSys: 3
-- COMMONDATA Files for SLACP_dwsh successfully read.


-- Reading COMMONDATA for Dataset: SLACD_dw_ite
nData: 211 nSys: 103
-- COMMONDATA Files for SLACD_dw_ite successfully read.


-- Reading COMMONDATA for Dataset: BCDMSP_dwsh
nData: 351 nSys: 11
-- COMMONDATA Files for BCDMSP_dwsh successfully read.


-- Reading COMMONDATA for Dataset: BCDMSD_dw_ite
nData: 254 nSys: 108
-- COMMONDATA Files for BCDMSD_dw_ite successfully read.


-- Reading COMMONDATA for Dataset: CHORUSNUPb_dw_ite
nData: 607 nSys: 1014
-- COMMONDATA Files for CHORUSNUPb_dw_ite successfully read.


-- Reading COMMONDATA for Dataset: CHORUSNBPb_dw_ite
nData: 607 nSys: 114
-- COMMONDATA Files for CHORUSNBPb_dw_ite successfully read.


-- Reading COMMONDATA for Dataset: NTVNUDMNFe_dw_ite
nData: 45 nSys: 1003
-- COMMONDATA Files for NTVNUDMNFe_dw_ite successfully read.


-- Reading COMMONDATA for Dataset: NTVNBDMNFe_dw_ite
nData: 45 nSys: 103
-- COMMONDATA Files for NTVNBDMNFe_dw_ite successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBNCEM
nData: 159 nSys: 170
-- COMMONDATA Files for HERACOMBNCEM successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBNCEP460
nData: 209 nSys: 170
-- COMMONDATA Files for HERACOMBNCEP460 successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBNCEP575
nData: 260 nSys: 170
-- COMMONDATA Files for HERACOMBNCEP575 successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBNCEP820
nData: 112 nSys: 170
-- COMMONDATA Files for HERACOMBNCEP820 successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBNCEP920
nData: 485 nSys: 170
-- COMMONDATA Files for HERACOMBNCEP920 successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBCCEM
nData: 42 nSys: 170
-- COMMONDATA Files for HERACOMBCCEM successfully read.


-- Reading COMMONDATA for Dataset: HERACOMBCCEP
nData: 39 nSys: 170
-- COMMONDATA Files for HERACOMBCCEP successfully read.


-- Reading COMMONDATA for Dataset: HERACOMB_SIGMARED_C
nData: 52 nSys: 167
-- COMMONDATA Files for HERACOMB_SIGMARED_C successfully read.


-- Reading COMMONDATA for Dataset: HERACOMB_SIGMARED_B
nData: 27 nSys: 167
-- COMMONDATA Files for HERACOMB_SIGMARED_B successfully read.


-- Reading COMMONDATA for Dataset: CDFZRAP_NEW
nData: 28 nSys: 11
-- COMMONDATA Files for CDFZRAP_NEW successfully read.


-- Reading COMMONDATA for Dataset: D0ZRAP_40
nData: 28 nSys: 1
-- COMMONDATA Files for D0ZRAP_40 successfully read.


-- Reading COMMONDATA for Dataset: ATLASWZRAP36PB
nData: 30 nSys: 32
-- COMMONDATA Files for ATLASWZRAP36PB successfully read.


-- Reading COMMONDATA for Dataset: ATLASZHIGHMASS49FB
nData: 13 nSys: 11
-- COMMONDATA Files for ATLASZHIGHMASS49FB successfully read.


-- Reading COMMONDATA for Dataset: ATLASLOMASSDY11EXT
nData: 6 nSys: 8
-- COMMONDATA Files for ATLASLOMASSDY11EXT successfully read.


-- Reading COMMONDATA for Dataset: ATLASWZRAP11CC
nData: 46 nSys: 133
-- COMMONDATA Files for ATLASWZRAP11CC successfully read.


-- Reading COMMONDATA for Dataset: ATLASWZRAP11CF
nData: 15 nSys: 133
-- COMMONDATA Files for ATLASWZRAP11CF successfully read.


-- Reading COMMONDATA for Dataset: ATLASDY2D8TEV
nData: 48 nSys: 37
-- COMMONDATA Files for ATLASDY2D8TEV successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_DY_2D_8TEV_LOWMASS
nData: 84 nSys: 277
-- COMMONDATA Files for ATLAS_DY_2D_8TEV_LOWMASS successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_WZ_TOT_13TEV
nData: 3 nSys: 4
-- COMMONDATA Files for ATLAS_WZ_TOT_13TEV successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_WP_JET_8TEV_PT
nData: 16 nSys: 124
-- COMMONDATA Files for ATLAS_WP_JET_8TEV_PT successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_WM_JET_8TEV_PT
nData: 16 nSys: 124
-- COMMONDATA Files for ATLAS_WM_JET_8TEV_PT successfully read.


-- Reading COMMONDATA for Dataset: ATLASZPT8TEVMDIST
nData: 64 nSys: 102
-- COMMONDATA Files for ATLASZPT8TEVMDIST successfully read.


-- Reading COMMONDATA for Dataset: ATLASZPT8TEVYDIST
nData: 120 nSys: 102
-- COMMONDATA Files for ATLASZPT8TEVYDIST successfully read.


-- Reading COMMONDATA for Dataset: ATLASTTBARTOT7TEV
nData: 1 nSys: 3
-- COMMONDATA Files for ATLASTTBARTOT7TEV successfully read.


-- Reading COMMONDATA for Dataset: ATLASTTBARTOT8TEV
nData: 1 nSys: 3
-- COMMONDATA Files for ATLASTTBARTOT8TEV successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_TTBARTOT_13TEV_FULLLUMI
nData: 1 nSys: 2
-- COMMONDATA Files for ATLAS_TTBARTOT_13TEV_FULLLUMI successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_TTB_DIFF_8TEV_LJ_TRAPNORM
nData: 5 nSys: 135
-- COMMONDATA Files for ATLAS_TTB_DIFF_8TEV_LJ_TRAPNORM successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_TTB_DIFF_8TEV_LJ_TTRAPNORM
nData: 5 nSys: 135
-- COMMONDATA Files for ATLAS_TTB_DIFF_8TEV_LJ_TTRAPNORM successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_TOPDIFF_DILEPT_8TEV_TTRAPNORM
nData: 5 nSys: 5
-- COMMONDATA Files for ATLAS_TOPDIFF_DILEPT_8TEV_TTRAPNORM successfully read.


-- Reading COMMONDATA for Dataset: ATLASPHT15_SF
nData: 53 nSys: 2
-- COMMONDATA Files for ATLASPHT15_SF successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_SINGLETOP_TCH_R_7TEV
nData: 1 nSys: 13
-- COMMONDATA Files for ATLAS_SINGLETOP_TCH_R_7TEV successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_SINGLETOP_TCH_R_13TEV
nData: 1 nSys: 1
-- COMMONDATA Files for ATLAS_SINGLETOP_TCH_R_13TEV successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_SINGLETOP_TCH_DIFF_7TEV_T_RAP_NORM
nData: 3 nSys: 17
-- COMMONDATA Files for ATLAS_SINGLETOP_TCH_DIFF_7TEV_T_RAP_NORM successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_SINGLETOP_TCH_DIFF_7TEV_TBAR_RAP_NORM
nData: 3 nSys: 15
-- COMMONDATA Files for ATLAS_SINGLETOP_TCH_DIFF_7TEV_TBAR_RAP_NORM successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_SINGLETOP_TCH_DIFF_8TEV_T_RAP_NORM
nData: 3 nSys: 31
-- COMMONDATA Files for ATLAS_SINGLETOP_TCH_DIFF_8TEV_T_RAP_NORM successfully read.


-- Reading COMMONDATA for Dataset: ATLAS_SINGLETOP_TCH_DIFF_8TEV_TBAR_RAP_NORM
nData: 3 nSys: 31
-- COMMONDATA Files for ATLAS_SINGLETOP_TCH_DIFF_8TEV_TBAR_RAP_NORM successfully read.


-- Reading COMMONDATA for Dataset: CMSWEASY840PB
nData: 11 nSys: 11
-- COMMONDATA Files for CMSWEASY840PB successfully read.


-- Reading COMMONDATA for Dataset: CMSWMASY47FB
nData: 11 nSys: 11
-- COMMONDATA Files for CMSWMASY47FB successfully read.


-- Reading COMMONDATA for Dataset: CMSDY2D11
nData: 132 nSys: 133
-- COMMONDATA Files for CMSDY2D11 successfully read.


-- Reading COMMONDATA for Dataset: CMSWMU8TEV
nData: 22 nSys: 45
-- COMMONDATA Files for CMSWMU8TEV successfully read.


-- Reading COMMONDATA for Dataset: CMSZDIFF12
nData: 50 nSys: 52
-- COMMONDATA Files for CMSZDIFF12 successfully read.


-- Reading COMMONDATA for Dataset: CMSTTBARTOT7TEV
nData: 1 nSys: 2
-- COMMONDATA Files for CMSTTBARTOT7TEV successfully read.


-- Reading COMMONDATA for Dataset: CMSTTBARTOT8TEV
nData: 1 nSys: 2
-- COMMONDATA Files for CMSTTBARTOT8TEV successfully read.


-- Reading COMMONDATA for Dataset: CMSTTBARTOT13TEV
nData: 1 nSys: 2
-- COMMONDATA Files for CMSTTBARTOT13TEV successfully read.


-- Reading COMMONDATA for Dataset: CMSTOPDIFF8TEVTTRAPNORM
nData: 10 nSys: 21
-- COMMONDATA Files for CMSTOPDIFF8TEVTTRAPNORM successfully read.


-- Reading COMMONDATA for Dataset: CMSTTBARTOT5TEV
nData: 1 nSys: 2
-- COMMONDATA Files for CMSTTBARTOT5TEV successfully read.


-- Reading COMMONDATA for Dataset: CMS_TTBAR_2D_DIFF_MTT_TRAP_NORM
nData: 16 nSys: 44
-- COMMONDATA Files for CMS_TTBAR_2D_DIFF_MTT_TRAP_NORM successfully read.


-- Reading COMMONDATA for Dataset: CMS_TTB_DIFF_13TEV_2016_2L_TRAP
nData: 10 nSys: 10
-- COMMONDATA Files for CMS_TTB_DIFF_13TEV_2016_2L_TRAP successfully read.


-- Reading COMMONDATA for Dataset: CMS_TTB_DIFF_13TEV_2016_LJ_TRAP
nData: 11 nSys: 11
-- COMMONDATA Files for CMS_TTB_DIFF_13TEV_2016_LJ_TRAP successfully read.

-- Reading COMMONDATA for Dataset: CMS_SINGLETOP_TCH_TOT_7TEV
nData: 1 nSys: 3
-- COMMONDATA Files for CMS_SINGLETOP_TCH_TOT_7TEV successfully read.


-- Reading COMMONDATA for Dataset: CMS_SINGLETOP_TCH_R_8TEV
nData: 1 nSys: 1
-- COMMONDATA Files for CMS_SINGLETOP_TCH_R_8TEV successfully read.


-- Reading COMMONDATA for Dataset: CMS_SINGLETOP_TCH_R_13TEV
nData: 1 nSys: 1
-- COMMONDATA Files for CMS_SINGLETOP_TCH_R_13TEV successfully read.


-- Reading COMMONDATA for Dataset: LHCBZ940PB
nData: 9 nSys: 11
-- COMMONDATA Files for LHCBZ940PB successfully read.


-- Reading COMMONDATA for Dataset: LHCBZEE2FB_40
nData: 17 nSys: 19
-- COMMONDATA Files for LHCBZEE2FB_40 successfully read.


-- Reading COMMONDATA for Dataset: LHCBWZMU7TEV
nData: 33 nSys: 35
-- COMMONDATA Files for LHCBWZMU7TEV successfully read.


-- Reading COMMONDATA for Dataset: LHCBWZMU8TEV
nData: 34 nSys: 36
-- COMMONDATA Files for LHCBWZMU8TEV successfully read.


-- Reading COMMONDATA for Dataset: LHCB_Z_13TEV_DIMUON
nData: 18 nSys: 19
-- COMMONDATA Files for LHCB_Z_13TEV_DIMUON successfully read.


-- Reading COMMONDATA for Dataset: LHCB_Z_13TEV_DIELECTRON
nData: 17 nSys: 18
-- COMMONDATA Files for LHCB_Z_13TEV_DIELECTRON successfully read.

In [8]:
target_ds = "ATLASWZRAP11CC"
cfac = [] # ["NRM"]
old_ds = API.dataset(dataset_input={"dataset": target_ds, "cfac": cfac + ["oldmode"]}, theoryid=200, use_cuts="internal")
ds = API.dataset(dataset_input={"dataset": target_ds, "cfac": cfac}, theoryid=200, use_cuts="internal")

In [9]:
# Let's try to get a prediction out of it
pdf = API.pdf(pdf="NNPDF40_nnlo_as_01180")
new_cp = central_predictions(ds, pdf)
cp = central_predictions(old_ds, pdf)
pd.concat([new_cp, cp, cp/new_cp, new_cp/cp], axis=1, keys=["pine", "vp", "ratio vp/ratio", "ratio pine/vp"])

-- Reading COMMONDATA for Dataset: ATLASWZRAP11CC
nData: 46 nSys: 133
-- COMMONDATA Files for ATLASWZRAP11CC successfully read.

               pine             vp ratio vp/ratio ratio pine/vp
                  0              0              0             0
data
0     592133.147570  590699.260248       0.997578      1.002427
1     593755.338606  592199.933803       0.997380      1.002626
2     595707.159218  595046.571448       0.998891      1.001110
3     600664.333919  598619.667086       0.996596      1.003416
4     604874.415555  604067.335030       0.998666      1.001336
5     611575.221104  610440.238811       0.998144      1.001859
6     619286.151022  616383.997978       0.995314      1.004708
7     620371.542211  619903.795899       0.999246      1.000755
8     620914.320519  619523.812318       0.997761      1.002244
9     611342.151951  611712.543080       1.000606      0.999395
10    582445.918967  581278.933466       0.997996      1.002008
11    450216.361278  448894.301919       0.997064      1.002945
12    448188.125144  446458.395567       0.996141      1.003874
13    444129.104929  442124.140491       0.995486      1.004535
14    437583.039064  435613.496143       0.995499      1.004521
15    429147.371000  427222.333822       0.995514      1.004506
16    416029.016395  413925.137250       0.994943      1.005083
17    402271.711293  400450.772052       0.995473      1.004547
18    390523.506668  388085.622545       0.993757      1.006282
19    375032.220445  372701.504306       0.993785      1.006254
20    357601.792612  355186.249345       0.993245      1.006801
21    332813.827457  330593.341891       0.993328      1.006717
22      3310.995972    3313.041285       1.000618      0.999383
23      3303.981907    3308.772005       1.001450      0.998552
24      3288.379471    3292.788613       1.001341      0.998661
25      3264.963977    3265.362136       1.000122      0.999878
26      2955.123472    2949.760097       0.998185      1.001818
27      1522.693893    1520.310959       0.998435      1.001567
28    136260.970401  136438.684387       1.001304      0.998697
29    135972.812632  136063.932893       1.000670      0.999330
30    135282.000749  135447.472476       1.001223      0.998778
31    134285.303355  134393.999775       1.000809      0.999191
32    132876.325062  132969.654030       1.000702      0.999298
33    130624.200101  130661.696764       1.000287      0.999713
34    121842.783052  121812.748019       0.999753      1.000247
35    107404.073866  107521.530234       1.001094      0.998908
36     89211.982258   89257.781629       1.000513      0.999487
37     67907.195675   67919.535253       1.000182      0.999818
38     44904.002728   44908.520461       1.000101      0.999899
39     21708.287601   21745.949914       1.001735      0.998268
40      1467.707328    1475.201378       1.005106      0.994920
41      1454.086798    1456.861604       1.001908      0.998095
42      1365.138728    1368.877499       1.002739      0.997269
43      1136.584324    1136.460234       0.999891      1.000109
44       770.491168     772.612158       1.002753      0.997255
45       317.872505     318.625722       1.002370      0.997636

In [13]:
pine_fkspec = ds.fkspecs[0]
old_fkspec = old_ds.fkspecs[0]

In [15]:
import pineappl
pines = [pineappl.fk_table.FkTable.read(i.as_posix()) for i in pine_fkspec.fkpath]
# Inspect the pineappl prediction
res_pine = []
pp = pines[0]
lpdf = pdf.load()

for p in pines:
    res_pine.append(p.convolute_with_one(2212, lpdf.central_member.xfxQ2))
total_pine = np.concatenate(res_pine)
print(total_pine)

[225.82312069]

In [16]:
# Let's inspect the content of the old fktables, remove the cfactor for now
from validphys.fkparser import load_fktable
old_fkspec.cfactors = False
old_fktabledata = load_fktable(old_fkspec)

In [17]:
print(f"hadronic?: {old_fktabledata.hadronic}")
print(f"Q: {old_fktabledata.Q0}")
print(f"n: {old_fktabledata.ndata}")
print(f"xgrid shape: {old_fktabledata.xgrid.shape}")
#old_fktabledata.sigma

hadronic?: True
Q: 1.65
n: 1
xgrid shape: (30,)

In [18]:
# First read the metadata that vp `FKTableData` needs and that all subgrids share
Q0 = np.sqrt(pp.muf2())
xgrid = pp.x_grid()
# Hadronic means in practice that not all luminosity combinations are just electron X proton
hadronic = not all(-11 in i for i in pp.lumi())
# Now prepare the concatenation of grids
fktables = []
for p in pines:
    tmp = p.table().T/p.bin_normalizations()
    fktables.append(tmp.T)
fktable = np.concatenate(fktables, axis=0)
ndata = fktable.shape[0]

In [21]:
pp.lumi()

[(100, 21),
 (100, 203),
 (100, 208),
 (100, 200),
 (100, 103),
 (100, 108),
 (100, 115),
 (21, 21),
 (21, 203),
 (21, 208),
 (21, 200),
 (21, 103),
 (21, 108),
 (21, 115),
 (21, 100),
 (200, 203),
 (200, 208),
 (203, 203),
 (203, 208),
 (203, 200),
 (203, 103),
 (203, 108),
 (203, 115),
 (203, 100),
 (208, 208),
 (208, 200),
 (208, 103),
 (208, 108),
 (208, 115),
 (208, 100),
 (200, 200),
 (200, 103),
 (200, 108),
 (200, 115),
 (200, 100),
 (103, 103),
 (103, 108),
 (103, 115),
 (103, 100),
 (108, 108),
 (108, 115),
 (108, 100),
 (115, 115),
 (115, 100),
 (100, 100)]

In [25]:
df.columns

Int64Index([ 15,  16,  17,  18,  19,  23,  24,  25,  29,  30,  31,  32,  33,
             37,  38,  39,  43,  45,  46,  47,  51,  52,  53,  57,  59,  60,
             61,  65,  66,  67,  71,  73,  75,  79,  80,  81, 127, 135, 136,
            137, 141, 150, 151, 155, 165],
           dtype='int64')

In [26]:
# Now let's try to join the fktable, luminosity and xgrid into a pandas dataframe
# keeping compatibility with validphys and, hopefully, 50% of my own sanity

# Step 1), make the luminosity into a 14x14 mask for the evolution basis
eko_numbering_scheme = (22, 100, 21, 200, 203, 208, 215, 224, 235, 103, 108, 115, 124, 135)
# note that this is the same ordering that was used in fktables
co = []
for i, j in pp.lumi():
    # Ask where this would fall in a 14x14 matrix
    idx = eko_numbering_scheme.index(i)
    jdx = eko_numbering_scheme.index(j)
    co.append(idx*14 + jdx)
    
# Step 2) prepare the indices for the dataframe
xi = np.arange(len(xgrid))
ni = np.arange(ndata)
mi = pd.MultiIndex.from_product([ni, xi, xi], names=["data", "x1", "x2"])

# Step 3) Now play with the array until we flatten it in the right way?
# The fktables for pineappl have this extra factor of x...
# The output of pineappl is (ndata, flavours, x, x)
lf = len(co)
xfktable = fktable.reshape(ndata, lf, -1)/(xgrid[:,None]*xgrid[None,:]).flatten()
fkmod = np.moveaxis(xfktable, 1, -1)
fkframe = fkmod.reshape(-1, lf)

# Uff, big
df = pd.DataFrame(fkframe, index=mi, columns=co)

from validphys.convolution import central_hadron_predictions
from validphys.coredata import FKTableData
fk = FKTableData(sigma=df, ndata=ndata,  Q0=Q0, metadata=None, hadronic=True, xgrid=xgrid)
central_hadron_predictions(fk, pdf)

               0
data
0     225.823121

In [11]:
# Create a luminosity tensor and check that the results are correct
from validphys.pdfbases import evolution

evol_basis = (
    "photon",
    "singlet",
    "g",
    "V",
    "V3",
    "V8",
    "V15",
    "V24",
    "V35",
    "T3",
    "T8",
    "T15",
    "T24",
    "T35",
)
total_pdf = evolution.grid_values(pdf, evol_basis, xgrid, [Q0]).squeeze()[0]/xgrid
print(total_pdf.shape)
lumi = np.einsum('ij,kl->ikjl', total_pdf, total_pdf)
lumi_masked = lumi[flavour_map]
print(fktable.shape)
print(lumi_masked.shape)
res = np.einsum('ijkl,jkl->i', fktable, lumi_masked)
#pd.concat([pd.DataFrame(res), cp, pd.DataFrame(res)/cp,  ], axis=1)

(14, 100)
(33, 91, 100, 100)
(91, 100, 100)

In [12]:
xfktable.reshape(48,91,-1).shape

(48, 91, 6875)

In [13]:
from validphys.fkparser import open_fkpath, _parse_string, _parse_header, _build_sigma
from validphys.fkparser import _parse_flavour_map, _parse_hadronic_fast_kernel
try:
    f.close()
except:
    pass
f = open_fkpath(old_fkspec.fkpath)
line_and_stream = enumerate(f, start=1)
lineno, header = next(line_and_stream)
res = {}
while True:
    marker, header_name = _parse_header(lineno, header)
    if header_name == "FastKernel":
        break
    if header_name == "FlavourMap":
        out, lineno, header = _parse_flavour_map(line_and_stream)
    else:
        out, lineno, header = _parse_string(line_and_stream)
    res[header_name] = out

In [14]:
res["FlavourMap"].shape

(14, 14)

In [15]:
i_hate_pandas = _parse_hadronic_fast_kernel(f)

In [16]:
i_hate_pandas

            0    1    2    3    4    5    6    7    8    9    ...  186  187  \
data x1 x2                                                    ...
0    18 8     0    0    0    0    0    0    0    0    0    0  ...    0    0
        9     0    0    0    0    0    0    0    0    0    0  ...    0    0
        10    0    0    0    0    0    0    0    0    0    0  ...    0    0
        11    0    0    0    0    0    0    0    0    0    0  ...    0    0
        12    0    0    0    0    0    0    0    0    0    0  ...    0    0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32   39 35    0    0    0    0    0    0    0    0    0    0  ...    0    0
        36    0    0    0    0    0    0    0    0    0    0  ...    0    0
        37    0    0    0    0    0    0    0    0    0    0  ...    0    0
        38    0    0    0    0    0    0    0    0    0    0  ...    0    0
        39    0    0    0    0    0    0    0    0    0    0  ...    0    0

            188  189  190  191  192  193  194  195
data x1 x2
0    18 8     0    0    0    0    0    0    0    0
        9     0    0    0    0    0    0    0    0
        10    0    0    0    0    0    0    0    0
        11    0    0    0    0    0    0    0    0
        12    0    0    0    0    0    0    0    0
...         ...  ...  ...  ...  ...  ...  ...  ...
32   39 35    0    0    0    0    0    0    0    0
        36    0    0    0    0    0    0    0    0
        37    0    0    0    0    0    0    0    0
        38    0    0    0    0    0    0    0    0
        39    0    0    0    0    0    0    0    0

[22790 rows x 196 columns]

In [17]:
old_fktabledata.sigma

                     15            16            17            18   \
data x1 x2
0    18 8   7.886135e-11  2.789161e-12 -1.088094e-12 -4.117568e-13
        9  -1.176740e-09 -3.219124e-11  1.584682e-11  5.996561e-12
        10  1.914581e-08  5.518757e-10 -2.593601e-10 -9.814281e-11
        11  3.395509e-08  2.585806e-09 -4.876171e-10 -1.843946e-10
        12 -3.869336e-09  2.613134e-09 -1.856259e-10 -7.015371e-11
...                  ...           ...           ...           ...
32   39 35  1.334036e+02  2.590100e+02 -4.291108e-02 -8.200374e-02
        36  1.276940e+02  2.480474e+02 -3.816512e-02 -7.178380e-02
        37  1.224439e+02  2.379583e+02 -3.405945e-02 -6.363270e-02
        38  1.177132e+02  2.288828e+02 -3.072791e-02 -5.726534e-02
        39  1.132096e+02  2.202363e+02 -2.794119e-02 -5.141801e-02

                     19            20            23            24   \
data x1 x2
0    18 8  -1.372518e-13  1.372526e-13  3.184748e-11  1.061583e-11
        9   1.998853e-12 -1.998852e-12 -4.756445e-10 -1.585482e-10
        10 -3.271441e-11  3.271440e-11  7.743511e-09  2.581170e-09
        11 -6.146469e-11  6.146469e-11  1.368301e-08  4.561002e-09
        12 -2.338454e-11  2.338465e-11 -1.557986e-09 -5.193287e-10
...                  ...           ...           ...           ...
32   39 35 -2.730750e-02  2.728248e-02  2.657959e-02  8.881789e-03
        36 -2.390431e-02  2.388230e-02  2.332000e-02  7.792363e-03
        37 -2.118991e-02  2.117047e-02  2.050479e-02  6.851812e-03
        38 -1.906948e-02  1.905208e-02  1.829320e-02  6.112988e-03
        39 -1.712237e-02  1.710665e-02  1.650276e-02  5.514523e-03

                     25            29   ...           151           155  \
data x1 x2                              ...
0    18 8  -1.061583e-11  2.330620e-12  ...  3.532509e-12 -1.061748e-11
        9   1.585482e-10 -3.473321e-11  ... -5.275854e-11  1.584912e-10
        10 -2.581170e-09  5.643208e-10  ...  8.589165e-10 -2.580718e-09
        11 -4.561002e-09  1.018451e-09  ...  1.517616e-09 -4.564180e-09
        12  5.193284e-10 -8.114000e-11  ... -1.730282e-10  5.464645e-10
...                  ...           ...  ...           ...           ...
32   39 35 -8.827837e-03  2.892852e+01  ...  3.268192e-02  9.108678e+00
        36 -7.745345e-03  2.769460e+01  ...  2.851808e-02  8.732327e+00
        37 -6.810238e-03  2.655950e+01  ...  2.518946e-02  8.385249e+00
        38 -6.075593e-03  2.553658e+01  ...  2.262572e-02  8.072070e+00
        39 -5.481025e-03  2.456261e+01  ...  2.029938e-02  7.773046e+00

                     156           157           158           159  \
data x1 x2
0    18 8  -3.746045e-13  1.370266e-13 -1.370346e-13 -4.567791e-14
        9   4.328209e-12 -1.995623e-12  1.995686e-12  6.652257e-13
        10 -7.431496e-11  3.266052e-11 -3.266170e-11 -1.088725e-11
        11 -3.470094e-10  6.135241e-11 -6.136890e-11 -2.045638e-11
        12 -3.454344e-10  2.329443e-11 -2.334610e-11 -7.782123e-12
...                  ...           ...           ...           ...
32   39 35  1.753977e+01 -3.793444e-02 -2.384179e-02  1.164286e-02
        36  1.682565e+01 -3.362050e-02 -2.086757e-02  1.012728e-02
        37  1.616641e+01 -3.011142e-02 -1.849971e-02  9.016706e-03
        38  1.557250e+01 -2.729305e-02 -1.665334e-02  8.169412e-03
        39  1.500474e+01 -2.471509e-02 -1.495479e-02  7.285986e-03

                     160           163           164           165
data x1 x2
0    18 8  -4.534985e-13  1.059753e-11  3.532509e-12  3.325722e-11
        9   6.604470e-12 -1.582756e-10 -5.275854e-11 -4.965555e-10
        10 -1.080917e-10  2.576749e-09  8.589165e-10  8.079029e-09
        11 -2.032417e-10  4.552850e-09  1.517616e-09  1.430492e-08
        12 -7.747575e-11 -5.190849e-10 -1.730282e-10 -1.570422e-09
...                  ...           ...           ...           ...
32   39 35  3.035006e-03  9.056461e-03  1.886250e-02 -6.967553e-03
        36  2.672166e-03  7.933945e-03  1.639116e-02 -6.070638e-03
        37  2.359320e-03  6.986752e-03  1.452400e-02 -5.368294e-03
        38  2.110707e-03  6.247643e-03  1.310672e-02 -4.830158e-03
        39  1.907960e-03  5.630145e-03  1.170497e-02 -4.326210e-03

[22790 rows x 81 columns]